@model IEnumerable<CDMS.Models.Proposal>

@{
    ViewBag.Title = "View Branch";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<!DOCTYPE html>
<br /><br /><br /><br /><br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>View</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "SaveProposal")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProposalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposalNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.BranchId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BranchId })*@
                    @Html.ActionLink("FileUpload", "Index", " FileUpload", new { id = item.Id, name = "Proposal" }, new { rel = "nofollow", style = "color:blue" })
                    @*<button class="btn btn-primary" onclick="window.open('@Url.Action("FileUploadProposal", "FileUpload", new { target="_blank" })')">File Upload</button>*@

                    @*<input type="button" class="btn btn-info" onclick='window.location.href = "@Url.Action("FileUploadProposal", "FileUpload", new {target="_blank"})";' />*@
                </td>
            </tr>
        }

    </table>
</body>
</html>
