@model IEnumerable<CDMS.Models.Tasks>

@{
    ViewBag.Title = "View Branch";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<!DOCTYPE html>
<br /><br /><br /><br /><br /><br /><br /><br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>View</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndtDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.StatusId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</body>
</html>
