
@{
    ViewBag.Title = "Dashboard";
Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>Dashboard</h2>

<section class="wrapper">
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-4 market-update-right icon">
                <i class="fa fa-user"> </i>
            </div>
            <div class="col-md-8 market-update-left" onclick="window.open('@Url.Action("ViewFlat", "Property", new { target="_blank" })')">
                <h4>Occupied Property</h4>
                <h3>@ViewBag.Flat</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-4 market-update-right icon">
                <i class="fa fa-male"></i>
            </div>
            <div class="col-md-8 market-update-left" onclick="window.open('@Url.Action("ViewBuildingVillas", "Property", new { target="_blank" })')">
                <h4>Un Occupied Property</h4>
                <h3>@ViewBag.BuildingVellasShops</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
            <div class="col-md-4 market-update-right icon">
                <i class="fa fa-list-alt"></i>
            </div>
            @*<div class="col-md-8 market-update-left" onclick="window.open('@Url.Action("ViewLesseeLessor", "LesseeLessor", new { target="_blank" })')">*@
                <h4>Pending Cheques</h4>
                <h3>@ViewBag.PendingCheques</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
            <div class="col-md-4 market-update-right icon">
                <i class="fa fa-list-alt"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Renewal Property</h4>
                <h3>@ViewBag.RenewalProperty</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <!-- tasks -->
    <div>
        <div class="col-md-12">
            <div class="agile-last-grid">
                <div class="area-grids-heading">
                    <h3>Tenancy Statistics</h3>
                </div>
                <div id="graph8"></div>
                <script type="text/javascript">

                    var dept_data = [];

                    @*@foreach (var data in ViewBag.Chart)
                        {
                            <text>
                                var a = "@data.DeptCode";
                                dept_data.push({ "dept": a, "student": @data.TotalStudent });
                            </text>
                        }*@


                    Morris.Bar({
                        element: 'graph8',
                        data: dept_data,
                        xkey: 'dept',
                        ykeys: ['student'],
                        labels: ['Total Student'],
                        xLabelAngle: 0
                    });
                </script>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>